.containera{
	display: grid;
	grid-template-areas: 
		"headabout"
		"got"
		"move"
		"solution"
		"steps"
		"way"
		"team";
		
}

.headabout{
	grid-area: headabout;
	display: grid;
	margin-top:4rem;
	margin-bottom: 4rem;
	margin-left: 3rem;
	margin-right: 3rem;
	grid-template-areas: 
		"abtitle"
		"abh"
		"abh2"
		"abpic"
		"abp";
		
	
}

.abtitle{
	grid-area: abtitle;
	padding-bottom: 1rem;
}

.abh{
	grid-area: abh;
	padding-bottom: 0.2rem;
}

.abh2{
	grid-area: abh2;
	
}

.abp{
	grid-area:abp;
	
	
}

.abpic{
	grid-area:abpic;
	margin-bottom: 3rem;
	
}

.got{
	grid-area:got;
	background: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	}

.gottop{
	display: flex;
	flex-direction: row;
}

.gotinner{
	display: flex;
	flex-direction: column;
	
}

.goth{
	margin-bottom: 1rem;
}

.gotpic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.gotp{
	margin-right: 1rem;	
	
}



.move{
	grid-area: move;
	background: rgba(0, 157, 168, 0.1);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-top: 1px solid #b3e2e5;
}

.mtop{
	display: flex;
	flex-direction: row;
}

.minner{
	display: flex;
	flex-direction: column;
}

.mpic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.mh{
	margin-bottom: 1rem;
}



.solution{
	grid-area: solution;
	background: rgba(21, 19, 103, 0.1);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-top: 1px solid #b1bdd2;
}

.solinner{
	display: flex;
	flex-direction: column;
}

.soltop{
	display: flex;
	flex-direction: row;
}

.sopic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.steps{
	grid-area: steps;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	}

.stepinner{
	display: flex;
	flex-direction: column;
}

.steptop{
	display: flex;
	flex-direction: row;
}

.stepic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.steph{
	margin-top:1.5rem;
	margin-bottom: 2rem;
}

.way{
	grid-area:way;
	background: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.wayinner{
	display: flex;
	flex-direction: column;
}

.waytop{
	display: flex;
	flex-direction: row;
}

.waypic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.team{
	grid-area:team;
	background: rgba(0, 157, 168, 0.1);
	border-top: 1px solid #b3e2e5;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.teaminner{
	display: flex;
	flex-direction: column;
}

.teamtop{
	display: flex;
	flex-direction: row;
}

.teampic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

