@charset "UTF-8";
/* Css Document */

#marqueecontainer{
position: relative;
width: 100%; /*marquee width */
height: 3.6rem; /*marquee height */
background: none;
overflow: hidden;
padding: 2px;
padding-left: 4px;
}