.slider-contain{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 70%;
	height: 0;
	padding-bottom: 40%;
	
}

.slider-slide{
	position: absolute;
	width: 100%;
	height: 100%;
}

.slider-slide img{
	width: 100%;
	height: 100%;
}

#one{
	
}

#two{
	
}

#three{
	
}

#i1, #i2, #i3 {
	display:none;
}

.pre, .nxt{
	width: 12%;
	height: 100%;
	position: absolute;
	top:0;
	background: rgba(88, 88, 88, 0.4);
	z-index: 99;
	cursor: pointer;
}

.pre{
	left: 0;
}

.nxt{
	right: 0;
}

.dots{
	width: 100%;
	height: 11px;
	bottom: 12%;
	position: absolute;
	text-align: center;
	z-index: 99;
}

.dot{
	top:-5px;
	width: 100%;
	height: 100%;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display:inline-block;
	background: rgba(0,0,0, .6);
}

.slide_img{
	z-index: -1;
	
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
	z-index: 9;
}

#i1:checked ~dots #dot1,
#i2:checked ~dots #dot2,
#i3:checked ~dots #dot3{
	background: #ffffff;
}
