@charset "UTF-8";
/* Css Document */

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size: 10px;
	color: #121F41;
	font-family: Cabin;
}

body {
	max-width: 100%;
}




/* GLOBAL ATTRIBUTES */



p {
	font-family: Nunito; 
	font-size: 1.6rem;
	line-height: 125%;
	padding-bottom: 2rem;
}

.txtcolor{
	color:#009DA8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Cabin;
}

h1 {
	font-size: 6.4rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 3.0rem;
margin-bottom: 2rem;
}

h5 {
	font-size: 2.4rem;
	font-weight: 500;
	}

h6 {
	font-size:2.2rem;
	padding-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
 }

li{
	font-family: Nunito;
	font-size:1.6rem;
	line-height: 120%;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	}

p {
	padding-top: 1rem;
}

.nope p{
	padding-top: unset;
	padding-bottom: unset;
}

.heavy {
	font-weight:600;
}

.slant{
	font-style: italic;
}

.under{
	text-decoration: underline;
}

.txtcntr{
	text-align: center;
}

.cntr{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.filled{
	color:#FCFFF5;
	background-color:#009DA8;
	border-radius: 2px;
	border:0.2rem #009DA8 solid;
	}

button{
	width: 120px;
	height: 40px;
	text-align: center;
	font-family:Cabin;
	font-size: 1.6rem;
	color: #009DA8;
    }

.outline{
	background: none;
	border:0.2rem #009DA8 solid;
	border-radius: 2px;
	}

.centerimg{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.hcenter{
	text-align: center;
}

.xtrat{
	margin-top:9rem;
}
.extratop{
	margin-top: 8rem;
}

.extratopp{
	margin-top: 3rem;
}

.extratoppy{
	margin-top:1.5rem;
}

.extrabtm{
	margin-bottom: 3rem;
}

.extrabttm{
	margin-bottom: 1rem;
}

.xtrab{
	margin-bottom: 4rem;
}

.extrabttmy{
	margin-bottom: 6rem;
}



/* INDEX- HOME ATTRIBUTES */



.container {
	display: grid;
	grid-template-areas: 
		"headhome"
		"work"
		"about"
		"process"
		"testimonials";
	}

.headhome {
	grid-area: headhome;
	display: grid;
	padding-top:4rem;
	margin-bottom: 4rem;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top:10vh;
	grid-template-areas: 
		"hello"
		"name"
		"headbuttons"
		"coffee"
		"bio";
	/*padding: 10rem 0;*/
}

.hello {
	grid-area: hello;
	padding-bottom: 1rem;
}

.hi{
	grid-area: hi;
	padding-bottom: 0.2rem;
}

.name{
	grid-area: name;
	padding-bottom: 1rem;
}

.headbuttons {
	/*grid-area: headbuttons;
	grid-template-areas: 
		"works . "
		" . resume";*/
	display: flex;
	flex-direction: row;
	
}

.works {
	grid-area: works;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.resume {
	grid-area: resume;
	
	
}

.coffee{
	grid-area: coffee;
	width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.bio {
	grid-area: bio;
	font-family: Nunito;
	color: #121F41;
	font-size: 1.6rem;
}

.work {
	grid-area: work;
	display: grid;
	background-color: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	padding-top:4rem;
	padding-bottom: 4rem;
	grid-template-areas: 
		"whead"
		"welluw"
		"busyw";
		
}

.whead{
	grid-area: whead;
	margin-bottom: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.welluw{
	grid-area: welluw;
	display: grid;
	margin-left: 3rem;
	margin-right: 3rem;
	grid-template-areas: 
		"wellimg wellimg"
		"wellh wellh"
		"wellp wellp"
		" . wlearn";
		
}

.wellh{
	grid-area: wellh;
	margin-top: 1rem;
	text-align: center;
	}

.wellimg{
	grid-area: wellimg;
	width: 95%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.wellp{
	grid-area: wellp;
	margin-top:2rem;
	margin-bottom:3rem;
}

.wlearn{
	grid-area: wlearn;
	margin-left: 5rem;
	margin-bottom: 4rem;
	
}


.busyw{
	grid-area: busyw;
	display:grid;
	margin-left: 3rem;
	margin-right: 3rem;
	grid-template-areas: 
		"busyimg busyimg"
		"busyh busyh"
		"busyp busyp"
		" . busylearn";
	
}

.busyh{
	grid-area: busyh;
	text-align: center;
	margin-top: 4rem;
}

.busyimg{
	grid-area: busyimg;	
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.busyp{
	grid-area: busyp;
	margin-top:2rem;
	margin-bottom:3rem;
}

.busylearn{
	grid-area: busylearn;
	
	
}
.about {
	grid-area: about;
	display: grid;
	padding-top:4rem;
	padding-bottom: 4rem;
	background-color: rgba(0, 157, 168, 0.05);
	grid-template-areas: 
		"ahead ahead ahead"
		"aimg aimg aimg"
		"ap ap ap"
		"ap2 ap2 ap2"
		" . . alearn";
}

.ahead{
	grid-area: ahead;
	margin-left: 3rem;
	margin-right: 3rem;
}

.aimg{
	grid-area: aimg;
	width:80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.ap{
	grid-area: ap;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 2rem;
}
.ap2{
	grid-area: ap2;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top:1rem;
	margin-bottom: 3rem;
}

.alearn{
	grid-area: alearn;
	margin-left: 3rem;
	margin-right: 3rem;
	}

.process {
	grid-area: process;
	display: grid;
	background-color: rgba(21, 19, 103, 0.05);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left:3rem;
	padding-right:3rem;
	grid-template-areas: 
		"phead phead phead phead"
		"pslider pslider pslider pslider"
		" . . pask pask"
		". . . pbutton";
}

.phead{
	grid-area: phead;
	
}

.pslider{
	grid-area:pslider;
}

.pask{
	grid-area: pask;
	padding-left: 5rem;
	
}
 
.pbutton{
	grid-area: pbutton;
}
.testimonials {
	grid-area: testimonials;
	display: grid;
	padding-top:4rem;
	margin-bottom: 20rem;
	padding-left:3rem;
	padding-right:3rem;
	 
}

/* ABOUT PAGE ATTRIBUTES */

.containera{
	display: grid;
	grid-template-areas: 
		"headabout"
		"got"
		"move"
		"solution"
		"steps"
		"way"
		"team";
		
}

.headabout{
	grid-area: headabout;
	display: grid;
	margin-top:4rem;
	margin-bottom: 4rem;
	margin-left: 3rem;
	margin-right: 3rem;
	padding-top: 10vh;
	grid-template-areas: 
		"abtitle"
		"abh"
		"abh2"
		"abpic"
		"abp";
		
	
}

.abtitle{
	grid-area: abtitle;
	padding-bottom: 1rem;
}

.abh{
	grid-area: abh;
	padding-bottom: 0.2rem;
}

.abh2{
	grid-area: abh2;
	
}

.abp{
	grid-area:abp;
	
	
}

.abpic{
	grid-area:abpic;
	margin-bottom: 3rem;
	
}

.got{
	grid-area:got;
	background: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	}

.gottop{
	display: flex;
	flex-direction: row;
}

.gotinner{
	display: flex;
	flex-direction: column;
	
}

.goth{
	margin-bottom: 1rem;
}

.gotpic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.gotp{
	margin-right: 1rem;	
	
}



.move{
	grid-area: move;
	background: rgba(0, 157, 168, 0.1);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-top: 1px solid #b3e2e5;
}

.mtop{
	display: flex;
	flex-direction: row;
}

.minner{
	display: flex;
	flex-direction: column;
}

.mpic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.mh{
	margin-bottom: 1rem;
}



.solution{
	grid-area: solution;
	background: rgba(21, 19, 103, 0.1);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-top: 1px solid #b1bdd2;
}

.solinner{
	display: flex;
	flex-direction: column;
}

.soltop{
	display: flex;
	flex-direction: row;
}

.sopic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.steps{
	grid-area: steps;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	}

.stepinner{
	display: flex;
	flex-direction: column;
}

.steptop{
	display: flex;
	flex-direction: row;
}

.stepic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.steph{
	margin-top:1.5rem;
	margin-bottom: 2rem;
}

.way{
	grid-area:way;
	background: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.wayinner{
	display: flex;
	flex-direction: column;
}

.waytop{
	display: flex;
	flex-direction: row;
}

.waypic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}

.team{
	grid-area:team;
	background: rgba(0, 157, 168, 0.1);
	border-top: 1px solid #b3e2e5;
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.teaminner{
	display: flex;
	flex-direction: column;
}

.teamtop{
	display: flex;
	flex-direction: row;
}

.teampic{
	width:25%;
	height: 80%;
	margin-left: 1rem;
}



/* CONTACT PAGE ATTRIBUTES */


.hcontact{
	margin-top:4rem;
	margin-bottom: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
	padding-top:12vh;
}

.cform{
	background: rgba(255, 230, 151, 0.15);
	border-top: 1px solid #FFE697;
	
}

.a{
	padding-bottom: 3rem;
	padding-top: 3rem;
	
}

.formula{
	padding-bottom: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.form{
	border-color: #121F41;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DADADA;
	box-shadow: 0px 5.33333px 26.6667px rgba(3, 69, 130, 0.25);
	border-radius: 13.3333px;
	display:flex;
	flex-direction: column;
	
	/*display: grid;
	grid-template-areas: 
		" . legend . ."
		" . name . ."
		" . inputn . ."
		". email . ."
		" . inpute . ."
		" . message . ."
		" . inputm inputm ."
		" . . . submit"
		" . . . respond";*/
}

.formed{
	margin-left: 4rem;
}

.legend{
	/*grid-area: legend;*/
	display:flex;
	flex-direction: column;
	font-family: nunito;
	font-size: 1.8rem;
	padding-top: 2rem;
	margin-left: 4rem;
	margin-bottom: 3rem;
}

.named{
	/*grid-area: name;*/
	display:flex;
	flex-direction: column;
	font-family: nunito;
	font-size: 1.6rem;
	padding-bottom:0.5rem;
	padding-top: 0.5rem;
	
}

.inputn{
	/*grid-area: inputn;*/
	display:flex;
	flex-direction: column;
	border-color: #009DA8;
	margin-bottom: 1.5rem;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	
}

.email{
	/*grid-area: email;*/
	display:flex;
	flex-direction: column;
	font-family: nunito;
	font-size: 1.6rem;
	padding-bottom:0.5rem;
	padding-top: 0.5rem;
}

.inpute{
	/*grid-area: inpute;*/
	display:flex;
	flex-direction: column;
	border-color: #009DA8;
	margin-bottom: 1.5rem;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	
}


.message{
	/*grid-area: message;*/
	display:flex;
	flex-direction: column;
	font-family: nunito;
	font-size: 1.6rem;
	padding-bottom:0.5rem;
	padding-top: 0.5rem;
	
		
}

.inputm{
	/*grid-area: inputm;*/
	display:flex;
	flex-direction: column;
	border-color: #009DA8;
	border-radius: 4px;
	margin-bottom: 2rem;
	width:85%;
	
}



.submit{
	/*grid-area:submit;*/
	
	color:#FCFFF5;
	background-color:#009DA8;
	border-radius: 2px;
	border:0.2rem #009DA8 solid;
	width: 110px;
	height: 40px;
	text-align: center;
	font-family:Cabin;
	font-size: 1.6rem;
	padding-bottom:0.5rem;
	padding-top: 0.5rem;
	margin-left:45%;
	margin-bottom:2rem;
}

.respond{
	display:flex;
	flex-direction: column;
	padding-bottom:0.5rem;
	padding-top: 0.5rem;
	margin-left:20%;
	margin-top:2rem;
	/*grid-area: respond;*/
	
}




/* WELL UNIVERSE CASE STUDY ATTRIBUTES */



.containerw {
	display: grid;
	width:100%;
	grid-template-areas: 
		"intro"
		"evolution"
		"probsolve"
		"deliver"
		"drbanner"
		"companalysis"
		"survey"
		"interviews"
		"personas"
		"iabanner"
		"stories"
		"flows"
		"frames"
		"usabilityw"
		"brandidbanner"
		"brand"
		"mood"
		"logodev"
		"preftest"
		"hifibanner"
		"hifimocks"
		"usabilityh"
		"fhifi"
		"conclubanner"
		"conclusion";
}
	
.intro {
	grid-area: intro;
	margin-top:4rem;
	margin-bottom: 4rem;
	margin-left: 3rem;
	margin-right: 3rem;
	padding-top:10vh;
	
}

.inhead {
		display: flex;
		flex-direction: row;
	}

.wellh{
	margin-top:2.5rem;
	font-size:3.6rem;
}

.topper{
	display: flex;
	flex-direction: column;
}

.ptopper{
	font-size: 1.2rem;
	margin-top: 0.5rem;
	font-style: italic;
}

.welluimg{
    width:15%;
	height: 60%;
	margin-left: 1rem;
	margin-right: 1rem;
	
}

.screen{
	width:80%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 4rem;
}

.casebutton{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

.see{
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 0.1rem;
	margin-top:3rem;
	
}

.take{
	font-size:1.6rem;
	font-family: Cabin;
	font-style: italic;
	text-align: center;
	margin-bottom: 1.5rem;
	
}

.wellbutton{
	width: 20rem;
	height: 4.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}
	
.evolution {
		grid-area: evolution;
		background: rgba(255, 230, 151, 0.15);
		border-top: 1px solid #FFE697;
		padding-top:6rem;
		padding-bottom: 8rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

.preview {
	margin-top: 0.5rem;
	margin-bottom: 2.5rem;
	font-size:1.8rem;
	font-style: italic;
}

.probsolve {
		grid-area: probsolve;
		background: rgba(0, 157, 168, 0.1);
		padding-top:6rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b3e2e5;
	}

.top{
	display: flex;
	flex-direction: row;
}

.inner{
	display: flex;
	flex-direction: column;
}

.probpic{
	width:75%;
	height: 75%;
	padding-left: 1rem;
	opacity: 0.8;
	padding-right: 1rem;
	padding-top: 1rem;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	}

.pprob{
	margin-top: -3rem;
	margin-bottom: 3rem;
}

.solvepic{
	width:75%;
	height:75%;
	margin-right: 2rem;
	opacity: 0.8;
	padding-right: 1rem;
	padding-top: 1rem;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	}

.psolve{
	margin-top: -3rem;
	padding-bottom: 3rem;
}

.deliver{
	grid-area: deliver;
	background: rgba(21, 19, 103, 0.1);
	padding-top:4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-top: 1px solid #b1bdd2;
}

.deliverm{
	width: 80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
	
.drbanner{
		grid-area: drbanner;
		background: rgba(51, 177, 185, 0.5);
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: rgba(51, 177, 185, 0.8) 1px solid;
		border-bottom: rgba(51, 177, 185, 0.8) 1px solid;
		font-size: 2.4rem;
		font-family: Cabin;
		color:#FCFFF5;
		font-weight: 700;
		font-variant: small-caps;
	}	
	
.companalysis{
		grid-area: companalysis;
		margin-top:4rem;
		margin-bottom: 4rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}

.type {
	font-style:italic;
	padding-top: 2rem;
	font-weight: 700;
}

.complogo{
	padding-top: 2rem;
	width:60%;
	height: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.swot{
	transition: transform .2s; /* Animation */
	width: 100%;
	height: 100%;
	}

.swot:hover{
	transform: scale(1.25);
}

.chartbkg{
	border-color: #121F41;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DADADA;
	box-shadow: 0px 5.33333px 26.6667px rgba(3, 69, 130, 0.25);
	border-radius: 13.3333px;
	
}

.chartpadding{
	padding: 1.5rem 1.5rem 0 1.5rem;
}

.keyouter{
	display: flex;
    align-items: center;
    justify-content: center;
}

.key{
	display:flex;
	flex-direction: row;
	margin-left: 2rem;
}

.keyimg{
	display: block;
	width:20%;
	padding-top: 1rem;
	padding-left: 1rem;
	
}

.keyh{
	margin-top: 3rem;
	margin-left:2rem;
	font-weight: 600;
}

.highlight{
	background: #FCFFF5;
	padding-top: 3.5rem;
	padding-bottom: 2.5rem;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: center;
}

.highlight p{
	text-align: center;
}

.highlight br{
	margin-top:2.5rem;
}

.space{
	padding-bottom: 1rem;
}

.card{
	width:20rem;
	height:30rem;
	border-color: #121F41;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DADADA;
	box-shadow: 0px 5.33333px 26.6667px rgba(3, 69, 130, 0.25);
	border-radius: 13.3333px;
	margin-top: 3rem;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.percent{
	color:#121F41;
	font-size:7.2rem;
	margin-top:6rem;
	display:block;
	margin-right: auto;
	margin-left:auto;
	padding-left: 2rem;
}

.fix{
	margin-left: 2rem;
}

.fix2{
	margin-left: 1rem;
}

.spot{
	margin-top: -2.5rem;
}

.descript{
	color:#121F41;
	font-size:1.8rem;
	display: inline-block;
	padding-left: 0.75rem;
}

.percentage{
	font-size:4rem;
	}

.survey{
		grid-area:survey;
		background: rgba(255, 230, 151, 0.15);
		border-top: 1px solid #FFE697;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
.interviews{
		grid-area:interviews;
		background: rgba(0, 157, 168, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b3e2e5;
	}

.intout{
	width:20rem;
}

.intx{
	padding-top:2rem;
	}

.intrt{
	padding-right: 2rem;
}

.ulrt{
	padding-right:4rem;
}

.ullt{
	padding-left: 4rem;
}

.hcard{
	display: flex;
	flex-direction: row;
}
.halfcard {
	width:15rem;
	height:27.5rem;
	border-color: #121F41;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DADADA;
	box-shadow: 0px 5.33333px 26.6667px rgba(3, 69, 130, 0.25);
	border-radius: 13.3333px;
}

.halfinner{
	display: flex;
	flex-direction: column;
}

.fix3{
	margin-left: 2.5rem;
	margin-top:2rem;
}

.fix4{
	margin-top:2rem;
}

.fix5{
	margin-top:3rem;
}

.fixfnt{
	font-size:2.4rem;
	margin-left:2rem;
	margin-top:1rem;
}

.dot{
	font-size:1.8rem;
	font-weight:600;
	}

.dmove{
	margin-bottom: 1rem;
}


.top {
	padding-top: 2rem;
}

.top2{
	padding-top:4rem;
	font-weight: 600;
}




	
.personas{
		grid-area:personas;
		background: rgba(21, 19, 103, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b1bdd2;
	}
	
.iabanner{
		grid-area:iabanner;
		background: rgba(51, 177, 185, 0.5);
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: rgba(51, 177, 185, 0.8) 1px solid;
		border-bottom: rgba(51, 177, 185, 0.8) 1px solid;
		font-size: 2.4rem;
		font-family: Cabin;
		color:#FCFFF5;
		font-weight: 700;
	}
	
.stories{
		grid-area: stories;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
.flows{
		grid-area: flows;
		background: rgba(255, 230, 151, 0.15);
		border-top: 1px solid #FFE697;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
.frames{
		grid-area: frames;
		background: rgba(0, 157, 168, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b3e2e5;
	}	
	
.usabilityw{
		grid-area: usabilityw;
		background: rgba(21, 19, 103, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b1bdd2;
	}
	
.brandidbanner{
		grid-area: brandidbanner;
		background: rgba(51, 177, 185, 0.5);
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: rgba(51, 177, 185, 0.8) 1px solid;
		border-bottom: rgba(51, 177, 185, 0.8) 1px solid;
		font-size: 2.4rem;
		font-family: Cabin;
		color:#FCFFF5;
		font-weight: 700;
		font-variant: small-caps;
		
	}

.mood{
		grid-area: mood;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
.logodev{
		grid-area: logodev;
		background: rgba(255, 230, 151, 0.15);
		border-top: 1px solid #FFE697;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

.brain{
	width:75%;
}

.initial{
	width:60%;
	margin-left:8rem;
}
	
.preftest{
		grid-area: preftest;
		background: rgba(0, 157, 168, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b3e2e5;
	}

.bicon{
	width:33%;
}

.bplain{
	width:33%;
	margin-left:4rem;
}

.vs{
	margin-top:6rem;
	margin-left:3rem;
}

.row{
	display: flex;
	flex-direction: row;
}

.hifibanner{
		grid-area:hifibanner;
		background: rgba(51, 177, 185, 0.5);
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: rgba(51, 177, 185, 0.8) 1px solid;
		border-bottom: rgba(51, 177, 185, 0.8) 1px solid;
		font-size: 2.4rem;
		font-family: Cabin;
		color:#FCFFF5;
		font-weight: 700;
		font-variant: small-caps;
		
	}
	
.hifimocks{
		grid-area:hifimocks;
		background: rgba(21, 19, 103, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b1bdd2;
	}
	
.usabilityh{
		grid-area: usabilityh;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

.fhifi{
		grid-area: fhifi;
		background: rgba(255, 230, 151, 0.15);
		border-top: 1px solid #FFE697;
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
}
	
.conclubanner{
		grid-area: conclubanner;
		background: rgba(51, 177, 185, 0.5);
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		border-top: rgba(51, 177, 185, 0.8) 1px solid;
		border-bottom: rgba(51, 177, 185, 0.8) 1px solid;
		font-size: 2.4rem;
		font-family: Cabin;
		color:#FCFFF5;
		font-weight: 700;
		font-variant: small-caps;
	}
	
.conclusion{
		grid-area: conclusion;
		background: rgba(0, 157, 168, 0.1);
		padding-top:4rem;
		padding-bottom: 4rem;
		padding-left: 3rem;
		padding-right: 3rem;
		border-top: 1px solid #b3e2e5;
	}
.future{
	margin-right: 2rem;
}

.thx{
	width:25rem;
	margin-bottom: 1.5rem;
	margin-left: 3rem;
}

.have{
	margin-bottom:1.5rem;
}
	







/* FOOTER ATTRIBUTES */



footer {
	background: rgba(7, 6, 37, 0.9);
	color: #FCFFF5;
	font-family: Cabin;
	font-size:3.6rem;
	grid-area: footer;
	display: grid;
	grid-template-areas: 
		"curious"
		"int"
		"touch";
}


.teal{
	color: #009DA8;
	font-weight: 600;
}

.lm{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.learnicons{
	padding-left:2.5rem;
	padding-bottom: 3rem;
	display: grid;
	grid-template-areas: 
		"mail . . "
		". linkd ."
		". . git";
}

.mail{
	grid-area: mail;
	font-size:4rem;
	color:#FCFFF5;
}

.linkd{
	grid-area: linkd;
	font-size:4rem;
	color:#FCFFF5;
}

.git{
	grid-area: git;
	font-size:4rem;
	color:#FCFFF5;
}

.fleft{
	padding-left:3rem;
}

.fright{
	padding-left:3rem;
	padding-top:7rem;
}
.curious{
	display: grid;
	margin-top:6.5rem;
}

.int{
	display: grid;
	margin-top:1rem;
}

.touch{
	display: grid;
	margin-top:1.5rem;
	margin-bottom: 3rem;
}

.zc{
	
}



.lm{
	
}

.lifoot{
	font-size: 2.4rem;
}

.contact{
	border:0.2rem #FCFFF5 solid;
	border-radius: 2px;
	padding:0.7rem 1.4rem 0.7rem 1.4rem;
}

.buttonspace{
	margin-top:3rem;
	/*margin-bottom:3rem;*/
}



/* MARQUEE ATTRIBUTES */



#marqueecontainer{
position: relative;
width: 100%; /*marquee width */
height: 3.0rem; /*marquee height */
background: none;
overflow: hidden;
padding: 2px;
padding-left: 4px;
}


/* HAMBURGER ATTRIBUTES----------- */ 


nav {
	position: fixed;
	top: 0;
    width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #009DA8;
	font-family: cabin;
	font-size: 14px;
		
}

.logo {
	
	color: #FCFFF5;
	font-size: 14px;
	position: relative;
	margin-top: 10px;
	
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
	font-size: 14px;
	
}

.nav-links a{
	font-size: 14px;
	color: #FCFFF5;
	font-family: Cabin;
}

.burger{
	display: none;
}
.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #FCFFF5;
	transition: all 0.3s ease;
}

nav img {
	max-width: 80%;
}

@media screen and (max-width:1024px){
	.nav-links{
		width: 60%;
	}	
	.logo {
	color: #FCFFF5;
	font-size: 14px;
	position: relative;
	left:-50px;
	
}
}

@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: fixed;
		right: 0px;
		height: 92vh;
		top:8vh;
		background-color: #009DA8;
		display: flex;
		flex-direction:column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger{
		display: block;
	}
}

.nav-active{
		transform: translateX(0%);
	}

@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translateX(50px);
	}
	to{
		opacity:1;
		transform: translateX(0);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}
	.logo {
	color: #FCFFF5;
	font-size: 14px;
	position: relative;
	left:-30px;
	
}

	

/* FLICKITY SLIDER ATTRIBUTES */


.gallery-cell1 {
  width: 100%;
  height: 330px;
  margin-right: 10px;
  margin-top: -10px;
  counter-increment: gallery-cell;
	z-index: 10;
}

.gallery-cell2 {
  width: 100%;
  height: 330px;
  margin-right: 10px;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell3 {
  width: 100%;
  height: 330px;
  margin-right: 10px;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell4 {
  width: 100%;
  height: 330px;
  margin-right: 10px;
  counter-increment: gallery-cell;
	z-index: 10;
}

.gallery-cell5 {
  width: 100%;
  height: 330px;
  margin-right: 10px;
  counter-increment: gallery-cell;
	z-index: 8;
}

.gallery-cell6 {
   width: 100%;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 8;
}

.gallery-cell7 {
  width: 100%;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell8 {
  width: 100%;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell9 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell10 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell11 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell12 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell13 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell14 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell15 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell16 {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell17 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell18 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell19 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell20 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell21 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell22 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell23 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell24 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell25 {
  width: 100%;
  height: 435px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell26 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell27 {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell28 {
  width: 100%;
  height: 435px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell29 {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell30 {
  width: 70%;
  height: auto;
  margin-right:5rem;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell31 {
 width: 70%;
  height: auto;
  margin-right:5rem;
  counter-increment: gallery-cell;
	z-index: 2;
}

.gallery-cell32 {
  width: 50%;
  height: auto;
  margin-right:5rem;
  counter-increment: gallery-cell;
	z-index: 2;
}



/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 330px;
  font-size: 80px;
  color: white;
}

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}






